@{
  Layout = "_Layout";
}

@model Factory.Models.Engineer

<div class="container">
  <div class="jumbotron text-center">

<h2>Edit</h2>
  </div>

<h4>Edit this engineer: @Html.DisplayFor(model => model.Name)</h4>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.EngineerId)

    @Html.LabelFor(model => model.Name)
    @Html.EditorFor(model => model.Name)

    @Html.Label("Select machine")
    @Html.DropDownList("MachineId")

    @Html.Label("Date Licensed")
    @Html.TextBoxFor(model => model.LicensedDate, new { type="date"})


    @Html.Label("Change status (idle/working")
    @Html.TextBoxFor(model => model.Status)

    <input type="submit" value="Save" />
}
<p>@Html.ActionLink("Add a Machine", "AddMachine", new { id = Model.EngineerId })</p>

<p>@Html.ActionLink("Back to list", "Index")</p>
</div>